{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="breadcrumb-title">Cart</h2>
                        {% for message in messages %}
						<center><font color = "red">{{message}}</font></center>
						{% endfor %}
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'mainApp:home' %}">Home</a></li>
                            <li class="breadcrumb-item active">Cart</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->


        <!-- main-content-wrap start -->
        <div class="main-content-wrap section-ptb cart-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="#" class="cart-table">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="plantmore-product-thumbnail">S.N.</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="plantmore-product-price">Unit Price</th>
                                            <th class="plantmore-product-quantity">Quantity</th>
                                            <th class="plantmore-product-subtotal">Total</th>
                                            <th class="plantmore-product-remove">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cp in cart.cartproduct_set.all %}
                                        <!-- <tr>
                                            <td class="plantmore-product-thumbnail"><a href="#"><img src="assets/images/other/01.jpg" alt=""></a></td>
                                            <td class="plantmore-product-name"><a href="#">Compete Track Tote</a></td>
                                            <td class="plantmore-product-price"><span class="amount">$70.00</span></td>
                                            <td class="plantmore-product-quantity">
                                                <input value="1" type="number">
                                            </td>
                                            <td class="product-subtotal"><span class="amount">{{forloop.counter}}</span></td>
                                            <td class="plantmore-product-remove"><a href="#"><i class="ion-close"></i></a></td>
                                        </tr> -->
                                        <tr>
                                            <td class="plantmore-product-thumbnail"><span class="amount">{{forloop.counter}}</span></td>
                                            <td class="plantmore-product-name"><a href="">{{cp.product.title}}</a></td>
                                            <td class="plantmore-product-price"><span class="amount">Rs. {{cp.rate}}</span></td>
                                            <td class="plantmore-product-quantity">
                                                <l>({{cp.quantity}})</l>
                                                <a href="{% url 'mainApp:managecart' cp.id %}?action=inc"><i class="ion-plus"></i> </a>
                                                <a href="{% url 'mainApp:managecart' cp.id %}?action=dcr"><i class="ion-minus"></i></a>
                                            </td>
                                            <td class="product-subtotal"><span class="amount">Rs. {{cp.subtotal}}</span></td>
                                            <td class="plantmore-product-remove">
                                                <a href="{% url 'mainApp:managecart' cp.id %}?action=rmv"><i class="ion-close"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="coupon-all">

                                        <div class="coupon2">
                                            {% if cart.cartproduct_set.all %}
                                            <a href="{% url 'mainApp:emptycart' %}" class="btn continue-btn">Empty cart</a>
                                            {% endif %}
                                            <a href="{% url 'mainApp:shop' %}" class="btn continue-btn">Continue Shopping</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Cart totals</h2>
                                        <ul>
                                            <!-- <li>Subtotal <span>$170.00</span></li> -->
                                            <li>Total <span>Rs. {{cart.total}}</span></li>
                                        </ul>
                                        <a href="{% url 'mainApp:checkout' %}" class="proceed-checkout-btn">Proceed to checkout</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content-wrap end -->
{% endblock %}