{% extends 'base.html' %}
{% load static %}
{% block content %}



        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="breadcrumb-title">Compare</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'mainApp:home' %}">Home</a></li>
                            <li class="breadcrumb-item active">Compare</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->

        <!-- main-content-wrap start -->
        <div class="main-content-wrap section-ptb compaer-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="#">

                            <!-- Compare Table -->
                            <div class="compare-table table-responsive">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <td class="first-column">Product</td>
                                            {% for cp in compare.compareproduct_set.all %}
                                            <td class="product-image-title">
                                                <a href="#" class="image"><img src="{{cp.product.image.url}}" alt="Compare Product"></a>

                                                <a href="#" class="title">{{cp.product.title}}</a>
                                            </td>
                                            {% endfor %}
                                            <!-- <td class="product-image-title">
                                                <a href="#" class="image"><img src="assets/images/product/product-02.jpg" alt="Compare Product"></a>
                                                <a href="#" class="category">Furniture</a>
                                                <a href="#" class="title">Macro title</a>
                                            </td>
                                            <td class="product-image-title">
                                                <a href="#" class="image"><img src="assets/images/product/product-03.jpg" alt="Compare Product"></a>
                                                <a href="#" class="category">Furniture</a>
                                                <a href="#" class="title">Oakley title</a>
                                            </td> -->
                                        </tr>
                                        <tr>
                                            <td class="first-column">Description</td>
                                            {% for cp in compare.compareproduct_set.all %}
                                            <td class="pro-desc">
                                                <p>{{cp.product.description}}</p>
                                            </td>
                                            {% endfor %}
                                            <!-- <td class="pro-desc">
                                                <p>Eye glasses are very important for thos whos have some difficult in their eye to see every hing clearly and perfectly</p>
                                            </td>
                                            <td class="pro-desc">
                                                <p>Eye glasses are very important for thos whos have some difficult in their eye to see every hing clearly and perfectly</p>
                                            </td> -->
                                        </tr>
                                        <tr>
                                            <td class="first-column">Price</td>
                                            {% for cp in compare.compareproduct_set.all %}
                                            <td class="pro-price">Rs. {{cp.rate}}</td>
                                            {% endfor %}
                                            <!-- <td class="pro-price">$275</td>
                                            <td class="pro-price">$395</td> -->
                                        </tr>
                                        

             
                                        <tr>
                                            <td class="first-column">Delete</td>
                                            {% for cp in compare.compareproduct_set.all %}
                                            <td class="pro-remove"><a href="{% url 'mainApp:managecompare' cp.id %}?action=rmv"><i class="ion-trash-a"></i></a></td>
                                            {% endfor %}
                                            <!-- <td class="pro-remove"><button><i class="ion-trash-a"></i></button></td>
                                            <td class="pro-remove"><button><i class="ion-trash-a"></i></button></td> -->
                                        </tr>
                                        <tr>
                                            <td class="first-column">Rating</td>
                                            <td class="pro-ratting">
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                            </td>
                                            <!-- <td class="pro-ratting">
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                            </td>
                                            <td class="pro-ratting">
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content-wrap end -->



{% endblock %}







<!-- shop-products-wrap start -->
                            
<div class="shop-products-wrap">
    <div class="tab-content">
        <div class="tab-pane active" id="grid">
            <div class="shop-product-wrap">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- single-product-wrap start -->
                        {% for ap in allcategories %}
                        <div class="single-product-wrap">
                            
                            <div class="product-image">
                                <a href="product-details.html"><img src="{{ap.image.url}}" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">{{ap.title}}</a></h3>
                                <div class="price-box">
                                    <span class="old-price">Rs. {{ap.marked_price}}</span>
                                    <span class="new-price">Rs. {{ap.selling_prince}}</span>
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %}
                        <!-- single-product-wrap end -->
                    </div>
                    </div>


            <div class="tab-pane" id="list">
                <div class="shop-product-list-wrap">
                    <div class="row product-layout-list">
                        {% for ap in allcategories %}
                        <div class="col-lg-4 col-md-5">
                            <!-- single-product-wrap start -->
                            
                            <div class="single-product-wrap">
                                
                                <div class="product-image">
                                    <a href="product-details.html"><img src="{{ap.image.url}}" alt="Produce Images"></a>
                                    <span class="label">30% Off</span>
                                    <div class="product-action">
                                        <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                        <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                        <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="product-content text-left">
                                <h3><a href="product-details.html">{{ap.title}}</a></h3>
                                <div class="price-box">
                                    <span class="old-price">Rs. {{ap.marked_price}}</span>
                                    <span class="new-price">Rs. {{ap.selling_prince}}</span>
                                </div>
                                <p>{{ap.description}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    

            </div>
            </div>
        </div>
    </div>
</div>

<!-- shop-products-wrap end -->