{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load offer_offer %}
         <!-- Hero Section Start -->
         <div class="hero-slider hero-slider-two">

            <!-- Single Slide Start -->
            {% for fp in slider %}
            <div class="single-slide-two" style="background-image: url({{fp.image.url}})">
                <!-- Hero Content One Start -->
                <div class="hero-content-one container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <div class="slider-text-info">
                                <h2>A <span>Different</span> </h2>
                                <h1>Online <span>Cars</span> Shop </h1>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...</p>
                                <div class="hero-btn">
                                    <a href="{% url 'mainApp:shop' %}" class="slider-btn-two uppercase"><span>SHOP NOW</span></a>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Content One End -->
            </div>
            {% endfor %}
            <!-- Single Slide End -->

        </div>
        <!-- Hero Section End -->


        <!-- Banner Area Start -->
        
        <!-- Banner Area End -->

        <!-- Start Product Area -->
        <div class="porduct-area section-pt section-pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="section-title text-center">
                            <h2><span>Feature</span> Product</h2>
                            <p>There are many varients of cars listed below. List of all cars are features below. customer can buy cars.</p>
                        </div>
                    </div>
                </div>
                <div class="row product-active-lg-4">
                    {% for p in featured_product %}
                    <div class="col-lg-2">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="{% url 'mainApp:productdetail' p.slug %}"><img src="{{p.image.url}}" alt="Produce Images"></a>
                                <span class="label">{% call_sellprice p.marked_price p.selling_price %} % Off</span>
                                <div class="product-action">
                                    <a href="{% url 'mainApp:addtocart' p.id %}" class="add-to-cart"><i class="ion-bag"></i></a>
                                    
                                    <a href="{% url 'mainApp:addtowishlist' p.id %}" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="{% url 'mainApp:addtocompare' p.id %}" class="quick-view" ><i class="ion-bag"></i></a>
                                </div>
                            </div>
                            <div>
                                <P>

                                </P>
                            </div>
                            <div class="product-content">
                                <h3><a href="{% url 'mainApp:productdetail' p.slug %}">{{p.title}}</a></h3>
                                <div class="price-box">
                                    <span class="old-price">Rs. {{p.marked_price}}</span>
                                    <span class="new-price">Rs. {{p.selling_price}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
        <!-- Start Product End -->

        <!-- Banner Area Start -->
        <div class="banner-area section-pb">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 mt-30">
                        <!-- Single Banner Start -->
                        <!-- <div class="single-banner-two banner_bg-two">

                            <div class="banner-content-two text-left">
                                <div class="banner-content-box">
                                    <h3><span>15%</span> off for all products</h3>
                                    <h3>on this New year</h3>
                                    <a href="{% url 'mainApp:shop'%}">Shop now</a>
                                </div>
                            </div>
                        </div> -->
                        <!-- Single Banner End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area End -->


        <!-- Start Product Area -->
        <div class="porduct-area section-pb">
            
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="section-title text-center">
                            <h2><span>All</span> Product</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                        </div>
                    </div>
                </div>
                
                <div class="row product-two-row-4">
                    {% for pl in product_list %}
                    

                    <div class="col-lg-12">
                    
                        
                        
                        <!-- single-product-wrap start -->
                        
                        <div class="single-product-wrap">
                              
                            
                            
                            <div class="product-image">
                                
                                <a href="{% url 'mainApp:productdetail' pl.slug %}"><img src="{{pl.image.url}}" alt="Produce Images"></a>
                                <span class="label">{% call_sellprice pl.marked_price pl.selling_price %} % Off</span>
                                <div class="product-action">
                                    <a href="{% url 'mainApp:addtocart' pl.id %}" class="add-to-cart"><i class="ion-ios-cart-outline"></i></a>
                                    <a href="{% url 'mainApp:addtowishlist' pl.id %}" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="{% url 'mainApp:addtocompare' pl.id %}" class="quick-view" ><i class="ion-bag"></i></a>
                                </div>
                                 
                            </div>
                            <div class="product-content">
                                <h3><a href="{% url 'mainApp:productdetail' pl.slug %}">{{pl.title}}</a></h3>
                                <div class="price-box">
                                    <span class="old-price">Rs. {{pl.marked_price}}</span>
                                    <span class="new-price">Rs. {{pl.selling_price}}</span>
                                </div>
                            </div>
                            
                                      
                        </div>
                        
                        <!-- single-product-wrap end -->
                        
                        
                    </div>
                    
                    {% endfor %}       
                </div>
                
                
                
                    
        </div>
        <!-- Start Product End -->
        <!-- testimonial-area start -->
        <!-- <div class="testimonial-area testimonial-bg bg-gray overly-image section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-md-2 col-md-8 col-sm-12">
                        <div class="testimonial-slider">
                            <div class="testimonial-inner text-center">
                                <div class="test-cont">
                                    <!-- <img src="./Static/images/blog/blog-01.jpg" alt=""> -->
                                    <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p> -->
                                </div>
                                <div class="test-author">
                                    <!-- <h5>JONATHON JORDAN</h5> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- testimonial-area end -->


        <!-- Blog Area Start -->
        
        <!-- Blog Area End -->
{% endblock %}


