{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="breadcrumb-title">Shop Fullwidth</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'mainApp:home' %}">Home</a></li>
                            <li class="breadcrumb-item active">Shop Fullwidth</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->


        <!-- main-content-wrap start -->
        <div class="main-content-wrap shop-page section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- shop-product-wrapper start -->
                        <div class="shop-product-wrapper">
                            <div class="row">
                                <div class="col-12">
                                    <!-- shop-top-bar start -->
                                    <div class="shop-top-bar">
                                        <!-- product-view-mode start -->

                                        <div class="product-mode">
                                            <!--shop-item-filter-list-->
                                            <ul class="nav shop-item-filter-list" role="tablist">
                                                <li class="active"><a class="active" data-toggle="tab" href="#grid"><i class="ion-ios-keypad-outline"></i></a></li>
                                                <li><a data-toggle="tab" href="#list"><i class="ion-ios-list-outline"></i></a></li>
                                            </ul>
                                            <!-- shop-item-filter-list end -->
                                        </div>
                                        <!-- product-view-mode end -->
                                        <!-- product-short start -->
                                        <div class="product-short">
                                            <select class="nice-select" name="sortby">
                                                <option value="trending">Relevance</option>
                                                <option value="sales">Name(A - Z)</option>
                                                <option value="sales">Name(Z - A)</option>
                                                <option value="rating">Price(Low > High)</option>
                                                <option value="date">Rating(Lowest)</option>
                                            </select>
                                        </div>
                                        <!-- product-short end -->
                                    </div>
                                    <!-- shop-top-bar end -->
                                </div>
                            </div>

                             <!-- shop-products-wrap start -->
                             <div class="shop-products-wrap">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="grid">
                                        
                                        <div class="shop-product-wrap">
                                            
                                            <div class="row">
                                                {% for ap in allcategories %}
                                                <div class="col-lg-3 col-md-4 col-sm-6">
                                                    <!-- single-product-wrap start -->
                                                    <div class="single-product-wrap">
                                                        <ul>
                                                        <div class="product-image">
                                                            <a href="{% url 'mainApp:productdetail' ap.slug %}"><img src="{{ap.image.url}}" alt="Produce Images"></a>
                                                            <span class="label">30% Off</span>
                                                            <div class="product-action">
                                                                <a href="{% url 'mainApp:addtocart' ap.id %}" class="add-to-cart"><i class="ion-bag"></i></a>
                                                                <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                                                <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="product-content">
                                                            <h3><a href="{% url 'mainApp:productdetail' ap.slug %}">{{ap.title}}</a></h3>
                                                            <div class="price-box">
                                                                <span class="old-price">Rs. {{ap.marked_price}}</span>
                                                                <span class="new-price">Rs. {{ap.selling_prince}}</span>
                                                            </div>
                                                        </div>
                                                    </ul>
                                                    </div>
                                                    <!-- single-product-wrap end -->
                                                </div>
                                                {% endfor %}
                             
                                   
                         
                             
                                 
                                                
                                      
                                  
                                               
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="tab-pane" id="list">
                                        {% for ap in allcategories %}
                                        <div class="shop-product-list-wrap">
                                            <div class="row product-layout-list">
                                                <div class="col-lg-4 col-md-5">
                                                    <!-- single-product-wrap start -->
                                                    <div class="single-product-wrap">
                                                        <div class="product-image">
                                                            <a href="{% url 'mainApp:productdetail' ap.slug %}"><img src="{{ap.image.url}}" alt="Produce Images"></a>
                                                            <span class="label">30% Off</span>
                                                            <div class="product-action">
                                                                <a href="{% url 'mainApp:addtocart' ap.id %}" class="add-to-cart"><i class="ion-bag"></i></a>
                                                                <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                                                <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- single-product-wrap end -->
                                                </div>
                                                <div class="col-lg-8 col-md-7">
                                                    <div class="product-content text-left">
                                                        <h3><a href="{% url 'mainApp:productdetail' ap.slug %}">{{ap.title}}</a></h3>
                                                        <div class="price-box">
                                                            <span class="old-price">Rs. {{ap.marked_price}}</span>
                                                            <span class="new-price">Rs. {{ap.selling_prince}}</span>
                                                        </div>
                                                        <p>{{ap.description}}</p>
                                                    </div>
                                                </div>
                                            </div>



                                          

                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- shop-products-wrap end -->

                            <!-- paginatoin-area start -->
                            <!-- <ul class="pagination">
                                {% for page in page_obj %}
                                <li><a href="?page=1"></a></li>
                                {% endfor %}
                                
                            </ul>
                            <ul class="pagination">
                                {% for page in page_obj %}
                                <li><a href="?page=1"></a></li>
                                {% endfor %}
                                
                            </ul>
						<div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                        
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div> -->
                            <!-- paginatoin-area end -->
                             <div class="paginatoin-area">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <ul class="pagination-box">
                                            {% if allcategories.has_previous %}
                                            <li><a class="Previous" href="?page={{ allcategories.previous_page_number }}"><i class="ion-chevron-left"></i></a>
                                            </li>
                                            {% else %}
                                            <li><a class="Previous"><i class="ion-chevron-left disabled"></i></a>
                                            </li>
                                            {% endif %}
                                            {% for i in allcategories.paginator.page_range %}
                                            {% if i == allcategories.number %}
                                            <li class="active"><a>{{i}}</a></li>
                                            {% else %}
                                            <li><a href="?page={{i}}">{{i}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            
                                            {% if allcategories.has_next %}
                                            <li>
                                                <a class="Next" href="?page={{ allcategories.next_page_number }}"><i class="ion-chevron-right"></i> </a>
                                            </li>
                                            {% else %}
                                            <li>
                                                <a class="Next"><i class="ion-chevron-right"></i> </a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- shop-product-wrapper end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content-wrap end -->


{% endblock %}